#techo {
  width: 600px;
  height: 600px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.foco {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.luz {
  width: 50px;
  height: 50px;
  background-color: orange;
}
